@keyframes animacao {
    from { /* ESTADO INCIAL */
        background: rgb(0, 0, 255);
        top: 0px;
        left: 0px;
    }

    to { /* ESTADO FINAL */
       background: rgb(0, 0, 125) ;
    }

    to { /* ESTADO FINAL */
        background: rgb(0, 0, 0);
        top: 280px;
        left: 650px;
        border-radius: 200px;
    }
}


#caixa {
    margin: 15px;
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
    background: rgb(0,0,255);
    animation-name: animacao ; 
    animation-duration: 3s ;
    animation-delay: 0s;
    animation-iteration-count: infinite ; /*NÚMRTO DE VEZES DE REPETIÇÕES DA ANIMAÇÃO*/
    animation-direction: alternate; /* EXECUTA A ANIMAÇÃO E FAZ O REVERSE*/

    /*animation: animacao 3s 2s 2 alternate;                                     
     TUDO DE CIMA EM UMA ÚNICA LINNHA */
}