
#caixa {
    width: 400px;
    height: 400px;
    background: rgb(0, 0, 0);
}

#caixa:hover {
    width: 800px;
    height: 400px;
    background: rgb(0, 0, 255);
    transition: width 3s , background 3s ;  /*FORMA PARA EDITAR COMANDO POR COMANDO*/

    /********* OU  */

    transition: all 3s;
}